.result_container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20vh 0;
    overflow: hidden;
}
.result_information{
    margin: 35px;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.result_img{
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.result_text{
    width: 65%;
    margin-left: 20px;
    font-family: Playball;
    color: white;
}
.result_text h2{
    padding: 20px;
    font-size: 45px;
    width: 70%;
    border: 2px solid white;
    margin-bottom: 18px;
}
.result_text p{
    width: 70%;
    font-size: 20px;
    line-height: 35px;
}
.block{
    height:10vh;
}
@media screen and (max-width: 1024px) {
    .result_container{
        margin: 10vh 0px;
    }
    .result_information{
        flex-direction: column;
        width: 100vw;
    }
    .result_text{
        margin-top: 20px;;
        width: 120vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

