
  :root{
    --bigNumber: 2.4vw;
    --smallNumber: 1vw;
  }
  body{
    background-color: black;
  }
  .wrap_Matrix{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  select{
    border: 2px solid gray;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  .label_pos{
    width: 30%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .label_pos:last-child{
    justify-content: flex-end;
  }
  .result{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }
  .result_img_wrapper{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .result_information_matrix{
    margin: 50px 0px;
    width: 100vw;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .infomation_box{
    width: 80%;
    
  }
  .information_matrix_text{
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(128, 128, 128, 0.519);
    box-shadow: 2px 2px 4px gray;
    border-radius: 10px;
    
    cursor: pointer;
  }
  .information_text_slide{
    width: 100%;
    max-height: 0;
    transform: scale(0);
    opacity: 0;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 1s ease, max-height 1s ease, opacity 1s ease;
    border: 2px solid rgba(128, 128, 128, 0.519);
    
  }
  .ani{
    max-height: fit-content;
    transform: scale(1);
    min-height: 50px;
    opacity: 1;
    padding: 20px;
  }
  #impression,
  #safe_zone,
  #talent,
  #karma,
  #relationship,
  #financial{
    margin-top: 5%;
  }

  
  .result_img_matrix{
    width: 37vw;
    aspect-ratio: 1 / 1;
    position: relative;
  }
  .result_text_matrix{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: var(--bigNumber);
    color: white;
    font-weight: bold;
  }
  .number_1{
    top: 50%;
    left: 6%;
  }
  .number_2{
    top: 6%;
    left: 50%;
  }
  .number_3{
    top: 50%;
    left: 95%;
  }
  .number_4{
    left: 50%;
    top: 93%;
  }
  .number_5{
    left: 50%;
    top: 50%;
    color: black;
  }
  .number_6{
    left: 50%;
    top: 80%;
    font-size: var(--smallNumber);
  }
  .number_7{
    left: 20.5%;
    top: 50%;
    font-size: var(--smallNumber);
  }
  .number_8{
    left: 50%;
    top: 21%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_9{
    left: 80%;
    top: 50%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_10{
    left: 63.5%;
    top: 63.5%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_11{
    left: 63%;
    top: 69.5%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_12{
    left: 70%;
    top: 63%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_13{
    left: 50%;
    top: 85.5%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_14{
    left: 50%;
    top: 15%;
    color: white;
    font-size: var(--smallNumber);
  }
  .number_15{
    left: 14.5%;
    top: 50%;
    color: white;
    font-size: var(--smallNumber);
  }
  .number_16{
    left: 86%;
    top: 50%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_17{
    left: 19%;
    top: 19%;
    color: black;
  }
  .number_18{
    left: 81%;
    top: 19%;
    color: black;
  }
  .number_19{
    left: 81%;
    top: 81%;
    color: black;
  }
  .number_20{
    left: 19%;
    top: 81%;
    color: black;
  }
  .number_21{
    left: 35.4%;
    top: 50%;
    color: white;
    font-size: var(--smallNumber);
  }
  .number_22{
    left: 50%;
    top: 34.5%;
    color: white;
    font-size: var(--smallNumber);
  }
  .number_23{
    left: 29.2%;
    top: 29%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_24{
    left: 25%;
    top: 25%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_25{
    left: 71.4%;
    top: 29.5%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_26{
    left: 75%;
    top: 25%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_27{
    left: 71.5%;
    top: 70.8%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_28{
    left: 75.5%;
    top: 75%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_29{
    left: 29%;
    top: 71%;
    color: black;
    font-size: var(--smallNumber);
  }
  .number_30{
    left: 25%;
    top: 75%;
    color: black;
    font-size: var(--smallNumber);
  }
  
  
  
  h1{
    color: white;
  }
  .container_Matrix{

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
  }
  .input{
    height: 40vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .container_input{
    height: 50px;
    width: 70%;
    margin: 0px 10px;
    text-align: center;
    font-size: 25px; 
    border-radius: 10px;
  }
  #buttonLmao{
    height:40%;
    width: 70%;
    background-color: #FAFBFC;
    border-radius: 15px;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.title_number_wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_number{
  color: white;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  flex-direction: column;
  height: 40vh;
  
}  
.title_number p{
  margin-top: 20px;
  width: 70%;
}

label{
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.matrix_header{
  border: 3px solid rgba(255, 255, 255, 0.51);
  color: white;
  overflow:hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.background_img{
  width: 100vw;
  border-radius: 50%;
  position: absolute;
  top: -45%;
  left: -30%;
  overflow: hidden;
  border: 2px solid white;
}
.matrix_header_sidebar{
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matrix_header_content{
  height: 50%;
  width: 60%;
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quote_img{
  display: flex;

}
.quote_img img{
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.matrix_header_button_wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.matrix_header_button{
  margin-top: 20px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 20px;
  cursor: pointer;
}
.matrix_header_title{
  font-family: "M PLUS 1p", serif;
}
.matrix_header_title h1{
  line-height: 70px;
  margin: 20px 0px;
}
.background_img img{
  opacity: 0.6;
}
option{
  background-color: black;
}


@media screen and (max-width: 1024px) {
    
    .title_number{
      width: 90%;
    }
    .title_number h1{
      font-size: 3vh;
    }
    .title_number p{
      width: 100%;
    }
    .result_information_matrix h2{
      text-align: center;
    }
    .result_img_matrix{
      width: 80vw;
    }
    .input{
      height: 30vh;
      width: 100%;
      flex-wrap: wrap;
    } 
    .label_pos:last-child{
      height: 30%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 60%;
    }
    option{
      font-size: 10px;
    }
    .background_img{
      display: none;   
    }
    .matrix_header{
      background-image: url('/FortuneTeller/bg/background_12.png');
    }
    .matrix_header_sidebar{
      width: 100%;
    }
    .matrix_header_content{
      width: 90%;
    }
    :root{
      --bigNumber: 5vw;
      --smallNumber: 2vw;
    }
  }

