@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Fredericka+the+Great&family=Iansui&family=M+PLUS+1p&family=Rowdies:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    color: white;
}
html {
    scroll-behavior: smooth;
}
.sub_title{
    text-shadow: 0 0 10px rgba(254, 254, 254, 0.738), 
    0 0 20px rgba(255, 255, 255, 0.6), 
    0 0 30px rgba(173, 216, 230, 0.5); 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important; /* Màu chữ mong muốn */
}
